/* Color Picker */
[class*="ColorSwatch"] {
    border-color: var(--btn-gray-default-border);
}
.css-177o7zx-ColorSwatch {
    color: var(--primary-text-color);
    background-color: var(--btn-gray-default-bg);
}
.chrome-picker {
    background: var(--color-picker-bg-color) !important;
    border: 1px solid var(--color-picker-border-color);
    border-radius: 6px !important;
    box-shadow: var(--color-picker-shadow) !important;
}

/* Toggle */
[class*=ToggleContainer-StyledToggle][aria-checked="true"] > span[class*="ToggleBackground"] {
    background-color: var(--toggle-true-bg-color);
}
[class*=ToggleContainer-StyledToggle][aria-checked="false"] > span[class*="ToggleBackground"] {
    background-color: var(--toggle-false-bg-color);
}
[class*=ToggleContainer-StyledToggle] > span[class*="ToggleHandle"] {
    background-color: var(--toggle-handle-color);
}

/* Object List Controls */
[class*="listControlItem"] {
    border: 1px solid var(--widgets-border-color);
    border-radius: 6px;
}
[class*="TopBarContainer"], [class*="StyledListItemTopBar"], [class*="NestedObjectLabel"] {
    background-color: var(--topbar-bg-color);
    border-top-right-radius: 6px;
}
.css-1cjg468, .css-55unpk {
    background-color: var(--widgets-bg-color);
    color: var(--primary-text-color);
}
[class*="TopBarContainer"] button[class*="ExpandButton"],
[class*="StyledListItemTopBar"] [class*="TopBarButton"] {
    color: var(--header-button-text);
}
[class*="TopBarContainer"] button[class*="ExpandButton"]:hover,
[class*="StyledListItemTopBar"] [class*="TopBarButton"]:hover {
    color: var(--header-button-text-hover);
}

/* Markdown */
[class*="cms-editor"] {
    border: 1px solid var(--widgets-border-color);
    border-radius: 0 6px 6px;
}
[class*="cms-editor"] [class*="ToolbarContainer"] {
    background-color: var(--topbar-bg-color);
}
.css-12vfcwo, .css-isnoua {
    background-color: var(--widgets-bg-color);
    color: var(--primary-text-color);
}
.css-189bh5w, .css-f8f1e2 {
    background-color: var(--widgets-bg-color);
    color: var(--error-text-color);
}
[class*="cms-editor"] blockquote {
    color: var(--secondary-text-color);
    border-left: 3px solid var(--secondary-text-color);
}
[class*="cms-editor"] code[class*="StyledCode"] {
    background-color: var(--short-code-bg-color);
    border-radius: 6px;
    padding: 4px 6px;
}

/* General editor adjustments for dark theme */
body {
    background-color: var(--dark-bg-color) !important;
    color: var(--light-text-color) !important;
}

.CodeMirror-vscrollbar, .CodeMirror-hscrollbar {
    background-color: var(--code-block-bg-color);
}

.CodeMirror-gutters {
    background-color: var(--code-block-bg-color) !important;
}

.CodeMirror-linenumber {
    color: var(--code-line-number-color);
}

/* Dropdown and settings */
[class*="ControlContainer"] [class*="SettingsPaneContainer"] {
    color: var(--primary-text-color);
    background-color: var(--dropdownlist-bg);
    border-left: 1px solid var(--dropdownlist-border);
}
[class*="ControlContainer"] button[class*="StyledSettingsButton-button"] {
    background-color: transparent;
    color: var(--header-button-text);
}
[class*="ControlContainer"] button[class*="StyledSettingsButton-button"]:hover {
    color: var(--header-button-text-hover);
}
